<table>
{% for field in site.data.fields %}
{% if field.mandatory == include.mandatory and field.category == include.category %}

<tr>
<th colspan="2">
{% if field.url %}
<a href="{{ field.url }}">
{{ field.fieldname }}
</a>
{% else %}
{{ field.fieldname }}
{% endif %}
</th>
</tr>
<tr>
<th class="field-th">Description</th>

<td class="description">
{% if field.description %}

{{ field.description }}

{% endif %}
</td>
</tr>

{% if field.warning %}
<tr>
<th class="field-th warning">Warning!</th>

<td class="warning">

{{ field.warning }}
</td>
</tr>
{% endif %}

<tr>
<th class="field-th">Examples</th>
<td class="example">
{% if field.examples %}
{% for ex in field.examples %}

<pre>{{ ex }}</pre>

{% endfor %}
{% endif %}

</td>
</tr>


{% endif %}
{% endfor %}
</table>
